[global]
security = ADS
workgroup = {{ netbios_domain_name}}
realm = {{ realm }}

log file = /var/log/samba/%m.log
log level = 1

# Default ID mapping configuration for local BUILTIN accounts
# and groups on a domain member. The default (*) domain:
# - must not overlap with any domain ID mapping configuration!
# - must use a read-write-enabled back end, such as tdb.
idmap config * : backend = {{ id_db_backend }}
idmap config * : range = {{ asterisk_range }}
# - You must set a DOMAIN backend configuration
# idmap config for the {{ netbios_domain_name }} domain
idmap config {{ netbios_domain_name }} : backend = {{ id_backend }}
idmap config {{ netbios_domain_name }} : range = {{ id_range }}

template shell = /bin/bash
template homedir = /home/%U

vfs objects = acl_xattr
map acl inherit = yes
store dos attributes = yes